<a href="https://colab.research.google.com/github/KodaliSuchitraKamala/CPT_Training/blob/main/Cpt1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Swap --> A, B = B, A --> tuple swapping

In [ ]:
A = 10
B = 20
print(A,B)
A, B = B, A
print(A,B)

10 20
20 10

#### "temp" Variable

In [ ]:
A = 10
B = 20
print(A,B)
temp = A
A = B
B = temp
print(A,B)

10 20
20 10

#### Using +, -, *, and /

In [ ]:
A = 20
B = 10
print(A + B)
print(A - B)
print(A * B)
print(A / B)

30
10
200
2.0

#### Circumflex operation (XOR) operation

In [ ]:
a = 1
b = 2
a = a ^ b
b = a ^ b
a = a ^ b
print(a, b)

2 1

#### Write a program to swap 2 Variables using AND and OR With a feasible empty bucket

In [ ]:
a = 2
b = 2
a = int(a / b) & b
b = int(temp /b) & temp
print(a)
print(b)

0
0

#### Dictionary variable swap

In [ ]:
dict1 = {'a' : 11, 'b' : 22}
dict1['a'], dict1['b'] = dict1['b'], dict1['a']
print(dict1)

{'a': 22, 'b': 11}

In [ ]:
gen = iter([1,2])
lst = list(gen)
lst[0], lst[1] = lst[1], lst[0]
print(lst)

[2, 1]

#### armstrong, nivens/harshd number

In [ ]:
n = int(input())
sum = 0
copy = n
while n > 0:
  r = n % 10
  sum += r
  n //= 20
if copy % sum == 0:
  print("Harshad Number")
else:
  print("not")

121
not

#### Strong Number (Krishnamurthy number)
#### 145 = 1! + 4! + 5! = 145

In [ ]:
n = int(input())
copy = n
sum = 0
while n > 0:
  r = n % 10
  f = 1
  for i in range(1, r + 1):
    f *= i
  sum += f
  n //= 10
if copy == sum:
  print("yes")
else:
  print("no")

145
yes

#### Happy Number

In [ ]:
def is_happy_number(num):
    seen = set()
    while num != 1 and num not in seen:
        seen.add(num)
        num = sum(int(digit)**2 for digit in str(num))
    return num == 1
num = int(input("Enter a number: "))
if is_happy_number(num):
    print(num, "is a happy number")
else:
    print(num, "is not a happy number")

Enter a number: 7
7 is a happy number

#### Automorphic Number

In [ ]:
def is_automorphic(num):
    square = num * num
    num_str = str(num)
    square_str = str(square)
    return square_str.endswith(num_str)
num = int(input("Enter a number: "))
if is_automorphic(num):
    print(num, "is an automorphic number")
else:
    print(num, "is not an automorphic number")

Enter a number: 25
25 is an automorphic number

#### Magic Number

In [ ]:
def is_magic_number(num):
    while num > 9:
        sum_digits = sum(int(digit) for digit in str(num))
        num = sum_digits
    return num == 1
num = int(input("Enter a number: "))
if is_magic_number(num):
    print(num, "is a magic number")
else:
    print(num, "is not a magic number")

Enter a number: 1234
1234 is a magic number

#### Adam's Number

In [ ]:
import math
def is_adams_number(n):
  if n < 0:
    return False
  square_n = n * n
  reverse_n = int(str(n)[::-1])
  square_reverse_n = reverse_n * reverse_n
  reverse_square_reverse_n = int(str(square_reverse_n)[::-1])
  return square_n == reverse_square_reverse_n
num = int(input("Enter a number: "))

# Check if the number is an Adam's number
if is_adams_number(num):
  print(num, "is an Adam's number")
else:
  print(num, "is not an Adam's number")

Enter a number: 12
12 is an Adam's number